*.aux
*.egg-info
*.glo
*.gls
*.idx
*.ilg
*.ind
*.log
*.mx1
*.mx2
*.pyc
*.pyc
*.toc
*[#]*
*[#]*[#]
*~
.DS_Store
.coverage
.dir-locals.el
.dist
.eggs
.env
.envrc
.hypothesis
.idea
.mypy_cache
.pkg
.pytest_cache
.tox
.venv
.vs
.vscode
/.build*
/build
/dist
/venv
Pipfile.lock
__pycache__
auto
